.contact_body {
  height: 500px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_text {
  font-size: 48px;
  color: #067eb9;
  font-weight: 900;
}
.contact_wrapper {
  width: 80%;
  background-color: #fff;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  margin-bottom: 50px;
}
.contact_cont {
  width: 90%;
}
.contact_icon {
  font-size: 40px;
  color: #676665;
  text-align: center;
}
.contact_icon:hover {
  transition: 1s;
  transform: rotateY(360deg);
}
.contact_media {
  display: flex;
  justify-content: space-between;
  width: 465px;
  flex-wrap: wrap;
  margin-top: 30px;
}

@media screen and (max-width: 910px) {
  .footer_wrapper {
    width: 90%;
  }
  .unlist_ft {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  footer {
    height: 380px;
    align-items: center;
  }
  .footer_wrapper {
    width: 95%;
    height: 90%;
  }
  .footer_content {
    flex-wrap: wrap;
    width: 100%;
    height: 88%;
  }
  .logo_info {
    margin: 0 10px;
    height: 45%;
  }
  .unlist_ft {
    margin: 18px 10px;
  }
  .unlist_ft a {
    font-size: 18px;
  }
  .contact_info {
    margin: 15px 10px;
    width: 100%;
    text-align: center;
    height: 90px;
  }
  .contact_info p {
    font-size: 25px;
  }
  .socials {
    margin-top: 10px;
    justify-content: space-evenly;
  }
  .icon {
    font-size: 35px;
  }
}
@media screen and (max-width: 665px) {
  .contact_body {
    height: 300px;
  }
  .contact_wrapper {
    margin-bottom: unset;
    height: 80%;
    width: 90%;
  }
  .contact_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .contact_media {
    width: 100%;
    justify-content: center;
  }
  .contact_icon {
    width: 60px;
    margin: 10px 5px;
  }
  .contact_text {
    text-align: center;
  }
}
@media screen and (max-width: 570px) {
  footer {
    height: 600px;
  }
  .footer_content {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .logo_info {
    width: 100%;
    align-items: center;
  }
  .unlist_ft {
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 20px 0 10px 0;
  }
  .unlist_ft li {
    padding: 20px 0;
  }
  .logo_info {
    margin: unset;
  }
  .contact_info {
    margin: unset;
  }
  .footer_comments {
    text-align: center;
    margin-top: 20px;
  }
  .footer_wrapper {
    justify-content: space-evenly;
    margin-bottom: unset;
  }
}
@media screen and (max-width: 520px) {
  .contact_body {
    height: 400px;
  }
  .contact_text {
    font-size: 35px;
    font-weight: 700;
  }
  .contact_icon {
    font-size: 35px;
  }
}
