.register_cont {
  background-color: #f6f6f6;
}
.reg_head {
  width: 100%;
  display: flex;
  background-color: #fff;
  height: 80%;
  justify-content: center;
  align-items: center;
}
.reg_text {
  color: #067eb9;
  font-weight: 900;
  font-size: 40px;
}
.reg_form_cont {
  background-color: #30a8e3;
  width: 80%;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  /* height: 88%; */
  margin: 50px 0;
  align-items: center;
  position: relative;
}
label {
  color: #f6f6f6;
  display: block;
  margin: 10px 0;
  font-size: 18px;
}
::placeholder {
  color: #9a9998;
  font-size: 16px;
}
.each_input {
  height: 35px;
  width: 100%;
  background-color: #fff;
  padding: 5px 20px;
  border: unset;
  outline: unset;
  border-radius: 4px;
  font-size: 16px;
}
.form_select {
  /* color: #222222; */
  background-color: #fff;
  border: unset;
}
.form_select option {
  color: #222222;
}
.gender_cont label,
.each_cont2 label {
  display: inline;
}
.submit_btn {
  background-color: #0797de;
  border-radius: 8px;
  height: 45px;
  width: 100%;
  cursor: pointer;
  border: unset;
  font-size: 16px;
  color: #222222;
}
.reg_form {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
}
.reg_head_cont {
  display: flex;
  align-items: flex-end;
  height: 120px;
}
.reg_body {
  /* height: 900px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.input_cont {
  margin: 20px 0;
}
.form_select {
  width: 100%;
  height: 35px;
  border-radius: 4px;
  outline: unset;
  padding: 5px 20px;
  font-size: 16px;
}
textarea {
  width: 100%;
  height: 129px;
  outline: unset;
  padding: 12px 20px;
}
.form_wrapper {
  width: 100%;
  margin: 20px 0;
}
.success_cont {
  background-color: #30a8e3;
  height: 200px;
  width: 400px;
  border-radius: 24px;
  box-shadow: 0px 16px 16px 0px #164a6429;
  display: flex;
  justify-content: center;
}
.success_text_wrap {
  border-bottom: 2px solid #fff;
  text-align: center;
}
.success_text {
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 10px;
  color: #fff;
}
.success_msg {
  color: #fff;
  text-align: center;
}
.success_msg p {
  margin: 5px 0;
}
.success_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 80%;
}
#email {
  position: relative;
  display: inline-block;
  width: 100%;
}

#email #emailtext {
  display: none;
  background-color: unset;
  color: red;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 117%;
  right: 0;
  font-size: 14px;
}

#email #emailtext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

#email:hover #emailtext {
  visibility: visible;
}

/* loader */
@keyframes ldio-801x5dilppd-1 {
  0% {
    top: 36px;
    height: 128px;
  }
  50% {
    top: 60px;
    height: 80px;
  }
  100% {
    top: 60px;
    height: 80px;
  }
}
@keyframes ldio-801x5dilppd-2 {
  0% {
    top: 41.99999999999999px;
    height: 116.00000000000001px;
  }
  50% {
    top: 60px;
    height: 80px;
  }
  100% {
    top: 60px;
    height: 80px;
  }
}
@keyframes ldio-801x5dilppd-3 {
  0% {
    top: 48px;
    height: 104px;
  }
  50% {
    top: 60px;
    height: 80px;
  }
  100% {
    top: 60px;
    height: 80px;
  }
}
.ldio-801x5dilppd div {
  position: absolute;
  width: 30px;
}
.ldio-801x5dilppd div:nth-child(1) {
  left: 35px;
  background: #0797de;
  animation: ldio-801x5dilppd-1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -0.2s;
}
.ldio-801x5dilppd div:nth-child(2) {
  left: 85px;
  background: #067eb9;
  animation: ldio-801x5dilppd-2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -0.1s;
}
.ldio-801x5dilppd div:nth-child(3) {
  left: 135px;
  background: #056594;
  animation: ldio-801x5dilppd-3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: undefineds;
}

.loadingio-spinner-pulse-okvf76o9brf {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-801x5dilppd {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-801x5dilppd div {
  box-sizing: content-box;
}
.loader {
  position: absolute;
  display: none;
}

@media screen and (max-width: 735px) {
  .reg_form {
    width: 85%;
  }
}
@media screen and (max-width: 640px) {
  .reg_form_cont {
    width: 90%;
  }
}
