.menu_dropdown_cont {
  /* border: 2px solid red; */
  height: 0px;
  overflow: hidden;
  transition: 0.3s;
  display: grid;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border-radius: 0px 0px 8px 8px;
  position: sticky;
  top: 80px;
  z-index: 100;
}
.menu_dropdown {
  width: 80%;
  display: flex;
  justify-content: center;
  height: 80%;
}
.menu {
  height: 100%;
  width: 50%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
}
.sign_btn_cont_mq {
  display: none;
}

@media screen and (max-width: 910px) {
  .footer_wrapper {
    width: 90%;
  }
  .unlist_ft {
    display: flex;
  }
}

@media screen and (max-width: 830px) {
  .unlist,
  .sign_btn_cont {
    display: none;
  }
  .ham {
    display: block;
  }
  .sign_btn_cont_mq {
    display: block;
  }
  .unlist_mq {
    display: flex;
  /* border: 2px solid red; */

    /* flex-direction: column; */
    /* justify-content: space-between; */
    justify-content: space-evenly;
    height: 70%;
    width: auto;
    text-align: center;
  }
  .none {
    display: none;
  }
  .unlist_ft {
    display: flex;
  }
  .drop {
    height: fit-content;
    overflow: visible;
    padding-bottom: px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    height: 380px;
    align-items: center;
  }
  .footer_wrapper {
    width: 95%;
    height: 90%;
  }
  .footer_content {
    flex-wrap: wrap;
    width: 100%;
    height: 88%;
  }
  .logo_info {
    margin: 0 10px;
    /* height: 45%; */
    height: 26%;
  }
  .unlist_ft {
    margin: 18px 10px;
    display: flex;
  }
  .contact_info {
    margin: 15px 10px;
    width: 100%;
    text-align: center;
    /* height: 90px; */
    height: 77px;
    margin-top: 14px;
  }
  .contact_info p {
    font-size: 25px;
  }
  .socials {
    margin-top: 10px;
    justify-content: space-evenly;
  }
  .icon {
    font-size: 35px;
  }
}

@media screen and (max-width: 570px) {
  footer {
    height: 600px;
  }
  .footer_content {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .logo_info {
    width: 100%;
    align-items: center;
    margin: unset;
  }
  .unlist_ft {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 20px 0 10px 0;
    /* height: 300px; */
    height: 200px;
  }
  .unlist_ft li,
  .unlist_mq li {
    margin: 5px 10px;
  }
  .contact_info {
    margin: unset;
  }
  .footer_comments {
    text-align: center;
    margin-top: 20px;
  }
  .footer_wrapper {
    justify-content: space-evenly;
    margin-bottom: unset;
  }
  .contact_info p {
    font-size: 22px;
  }
  .icon {
    font-size: 30px;
  }
}
