.menu_dropdown_cont {
  height: 0px;
  overflow: hidden;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0px 0px 8px 8px;
}
.drop {
  height: 250px;
}
.menu_dropdown {
  width: 80%;
  display: flex;
  justify-content: center;
  height: 80%;
}
.menu {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 830px) {
  .unlist,
  .sign_btn_cont {
    display: none;
  }
  .ham {
    display: block;
  }
  .sign_btn_cont_mq {
    display: block;
  }
  .unlist_mq {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    width: auto;
    text-align: center;
  }
}
