* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
.sign_btn {
  background-color: #0797de;
  width: 124px;
  height: 40px;
  border-radius: 8px;
  border: unset;
  color: #222222;
  cursor: pointer;
}
.menu_container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
}
.menu_wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}
.unlist {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.unlist a {
  color: #067eb9;
}
.unlist a:focus {
  color: #044c6f;
}
.select {
  border: unset;
  width: 75px;
  outline: unset;
  color: #067eb9;
}
.select:focus {
  color: #044c6f;
}
.logo_container {
  display: flex;
  align-items: center;
}
.logo_name {
  border-left: 1px solid #0797de;
  padding-left: 10px;
  color: #0797de;
  font-weight: 700;
}
.banner {
  background-color: #f6f6f6;
  height: 100vh;
}
