* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
.html,
body {
  height: 100%;
}
.sign_btn {
  background-color: #0797de;
  width: 124px;
  height: 40px;
  border-radius: 8px;
  border: unset;
  color: #222222;
  cursor: pointer;
}
.menu_container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}
.menu_wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}
.unlist {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.unlist a {
  color: #067eb9;
}
.unlist a:focus {
  color: #044c6f;
}
.select {
  border: unset;
  width: 75px;
  outline: unset;
  color: #067eb9;
}
.select:focus {
  color: #044c6f;
}
.logo_container {
  display: flex;
  align-items: center;
}
.logo_name {
  border-left: 1px solid #0797de;
  padding-left: 10px;
  color: #0797de;
  font-weight: 700;
}
.banner {
  background-color: #f6f6f6;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sec1_content_head {
  font-size: 45px;
  font-weight: 900;
  color: #0797de;
}
.sec1_content_text {
  margin: 20px 0;
}
.start_btn {
  width: 189px;
  height: 48px;
  background-color: #0797de;
  border: unset;
  border-radius: 8px;
  font-weight: 400;
  cursor: pointer;
}
.section1 {
  width: 80%;
  height: 80%;
  padding: 60px 0 80px 0;
  display: flex;
}
.sec1_content,
.sec1_img {
  width: 50%;
}
.sec1_img {
  text-align: end;
}
.hero_img {
  width: 80%;
}
.section2_head_text {
  font-size: 40px;
  font-weight: 700;
}
.apply_btn {
  width: 311px;
  height: 48px;
  background-color: #0797de;
  cursor: pointer;
  border: unset;
  border-radius: 8px;
  margin: 30px 0 20px 0;
}
.section2_content_1 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  width: 340px;
  text-align: center;
}
.section2_content_2 {
  font-size: 24px;
  font-weight: 700;
  color: #f6f6f6;
}
.section2 {
  background-image: url(./Images/coding.jpg);
  height: 360px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section2_cover {
  background-color: #153e52;
  height: 100%;
  opacity: 0.97;
}
.section2_head_wrapper {
  height: 60px;
  display: flex;
  align-items: end;
}
.section2_head {
  background-color: #fff;
  text-align: center;
  color: #056594;
  width: 100%;
}
.section2_content_wrapper {
  display: flex;
  justify-content: center;
  height: 80%;
  align-items: center;
}
.section2_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3_head {
  text-align: center;
  background-color: #fff;
}
.section3_head_text {
  color: #056594;
  font-weight: 700;
  font-size: 40px;
}
.testimonial_card_cont {
  width: 240px;
  text-align: center;
  position: relative;
}
.test_card {
  background-color: #fff;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  height: 380px;
  border-radius: 16px;
}
.test_img {
  position: absolute;
  top: -74px;
  left: 51px;
}
.section3_wrapper {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  align-items: flex-end;
  height: 600px;
}
.section3 {
  width: 85%;
  display: flex;
  justify-content: space-between;
  height: 410px;
  margin-bottom: 40px;
  align-items: flex-end;
}
.test_card_wrapper {
  width: 86%;
  margin-bottom: 40px;
}
.test_name {
  margin-top: 30px;
  color: #151414;
  font-size: 24px;
  font-weight: 400;
}
.test_title {
  margin-top: 10px;
  color: #454443;
}
