* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}
.html,
body {
  height: 100%;
}
.sign_btn {
  background-color: #0797de;
  width: 124px;
  height: 40px;
  border-radius: 8px;
  border: unset;
  color: #222222;
  cursor: pointer;
  font-size: 16px;
}
.not_available:hover {
  cursor: not-allowed;
}
.sign_btn:hover {
  border-bottom: 1px solid #222222;
}
.sign_btn:focus {
  color: #fff;
}
.menu_container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 8px 16px 2px #7a787814;
}
.menu_wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}
.unlist,
.unlist_mq {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.unlist_mq {
  display: none;
}
.unlist a,
.unlist_mq a {
  color: #067eb9;
  width: 100%;
}
.caret_icon {
  color: #067eb9;
}
.unlist a:hover {
  color: #044c6f;
}
.unlist a:focus {
  color: #044c6f;
}
.logo_container,
.logos_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.logo_name {
  border-left: 2px solid #0797de;
  padding-left: 10px;
  color: #0797de;
  font-weight: 700;
}
.banner {
  background-color: #f6f6f6;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sec1_content_head {
  font-size: 45px;
  font-weight: 900;
  color: #0797de;
}
.sec1_content_text {
  margin: 20px 0;
}
.start_btn {
  width: 189px;
  height: 48px;
  background-color: #0797de;
  border: unset;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  color: #222222;
  cursor: pointer;
}
.start_btn:hover {
  border-bottom: 1px solid #222222;
}
.start_btn:focus {
  color: #fff;
}
.section1 {
  width: 80%;
  height: 80%;
  padding: 60px 0 80px 0;
  display: flex;
  flex-wrap: wrap;
}
.sec1_content,
.sec1_img {
  width: 50%;
}
.sec1_img {
  text-align: end;
}
.hero_img {
  width: 80%;
}
.section2_head_text {
  font-size: 40px;
  font-weight: 700;
}
.apply_btn {
  width: 311px;
  height: 48px;
  background-color: #0babfa;
  cursor: pointer;
  border: unset;
  border-radius: 8px;
  margin: 30px 0 20px 0;
  font-size: 200%;
  font-weight: 700;
}
.apply_btn:hover {
  border-bottom: 1px solid #222222;
}
.apply_btn:focus {
  color: #fff;
}
.section2_content_1 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  width: 340px;
  text-align: center;
}
.section2_content_2 {
  font-size: 24px;
  font-weight: 700;
  color: #f6f6f6;
}
.section2 {
  background-image: url(./Images/coding.jpg);
  height: 360px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section2_cover {
  background-color: #031823;
  height: 100%;
  opacity: 0.93;
}
.section2_head_wrapper {
  height: 60px;
  display: flex;
  align-items: end;
}
.section2_head {
  background-color: #fff;
  text-align: center;
  color: #056594;
  width: 100%;
}
.section2_content_wrapper {
  display: flex;
  justify-content: center;
  height: 80%;
  align-items: center;
}
.section2_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3_head,
.section4_head {
  background-color: #fff;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section3_head_text,
.section4_head_text {
  color: #056594;
  font-weight: 700;
  font-size: 40px;
}
.testimonial_card_cont {
  width: 240px;
  text-align: center;
  position: relative;
  margin: 0 10px;
}
.test_card {
  background-color: #fff;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  height: 380px;
  border-radius: 16px;
  box-shadow: 0px 16px 16px 0px #0000000a;
}
.test_img {
  position: absolute;
  top: -74px;
  left: 21%;
}
.section3_wrapper {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  align-items: flex-end;
  height: 600px;
}
.section3 {
  width: 85%;
  display: flex;
  justify-content: space-between;
  height: 410px;
  margin-bottom: 40px;
  align-items: flex-end;
  flex-wrap: wrap;
}
.test_card_wrapper {
  width: 86%;
  margin-bottom: 40px;
}
.test_name {
  margin-top: 30px;
  color: #151414;
  font-size: 24px;
  font-weight: 400;
}
.test_title {
  margin-top: 10px;
  color: #454443;
}
.section4 {
  background-color: #ededed;
  height: fit-content;
}
.partners {
  padding: 6vw 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2vw;
}

.logos_container {
  width: 80%;
  height: 6vw;
}

.each_logo1 {
  width: 100%;
  height: 100%;
}
.each_logo {
  margin-right: 5px;
  border-radius: 50%;
}
.sub_btn {
  color: #222222;
  width: 124px;
  height: 40px;
  background-color: #0797de;
  border: unset;
  border-radius: 0px 8px 8px 0px;
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
}
.sub_btn:hover {
  border-bottom: 1px solid #222222;
}
.sub_btn:focus {
  color: #fff;
}
.email_input {
  width: 84%;
  height: 40px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #044c6f;
  outline: unset;
  padding: 3px;
  border-right: unset;
  font-size: 16px;
}
.email_input::placeholder {
  color: #9a9998;
  font-size: 16px;
}
.newsletter_section_text {
  color: #056594;
  font-size: 24px;
  width: 86%;
}
.newsletter_section_wrapper {
  height: 220px;
  display: flex;
  justify-content: center;
}
.newsletter_section {
  width: 80%;
  display: flex;
  align-items: center;
}
.subscribe_cont {
  display: flex;
  height: 40px;
  width: 100%;
}
.newsletter_section_cont {
  height: 58%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer {
  background: linear-gradient(149.03deg, #0797de 39.1%, #056594 137.44%);
  color: #f6f6f6;
  display: flex;
  justify-content: center;
  height: 280px;
  width: 100%;
  align-items: flex-end;
}
footer a {
  color: #f6f6f6 !important;
}
.footer_content {
  display: flex;
  justify-content: space-between;
  height: 130px;
  align-items: start;
}
.footer_name {
  font-size: 32px;
  border-left: 1px solid #f6f6f6;
  padding-left: 10px;
  font-weight: 700;
}
.footer_select {
  background-color: #0797de;
  color: #f6f6f6;
}
.footer_icon {
  color: #f6f6f6;
}
.logo_info {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_wrapper {
  width: 80%;
  height: 70%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact_info {
  width: 145px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon {
  font-size: 24px;
}
.icon:hover {
  transition: 1s;
  transform: rotateY(360deg);
}
.socials {
  display: flex;
  justify-content: space-between;
}
.contact_content {
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.course_list {
  position: relative;
}
.unlist2 {
  display: none;
  width: 200px;
  left: -53px;
  position: absolute;
  background-color: #f6f6f6;
  border-radius: 8px;
  box-shadow: 0px 16px 16px 0px #0000000a;
}
.unlist2 li {
  padding: 10px;
  transition: 1s;
}
.unlist2 li:hover {
  background-color: #067eb9;
}
.unlist2 li:hover a {
  color: #fff !important;
}
.unlist2 li:hover .caret_icon {
  color: #fff;
}
.course_list:hover .unlist2 {
  display: block;
}
.main_lk {
  margin-right: 10px;
}
.footer_list {
  background-color: #f6f6f6;
  box-shadow: 0px 16px 16px 0px #0000000a;
  left: -80px;
}
.footer_list a {
  color: #0797de !important;
}
footer a:hover {
  color: #044c6f !important;
}
.ham {
  display: none;
  color: #0797de;
  font-size: 28px;
  cursor: pointer;
}

@media screen and (max-width: 1196px) {
  .section3_wrapper {
    height: 1100px;
  }
  .section3 {
    height: 90%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
  }
  .section1 {
    width: 90%;
  }
}

@media screen and (max-width: 950px) {
  .sec1_content_head {
    font-size: 42px;
  }
  .sec1_img {
    height: unset;
  }
  .hero_img {
    height: 100%;
    width: 85%;
  }
  .section4_body_wrapper {
    width: 90%;
    justify-content: space-around;
  }
}

@media screen and (max-width: 860px) {
  .hero_img {
    width: 90%;
  }
}

@media screen and (max-width: 840px) {
  .section1 {
    width: 90%;
  }
  .sec1_content {
    width: 100%;
  }
  .sec1_img {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    height: 525px;
  }
  .hero_img {
    width: 100%;
  }
  .logos_container {
    margin: 5px;
  }
}

@media screen and (max-width: 766px) {
  .section4 {
    height: auto;
  }
  .section4_body_wrapper {
    width: 96%;
  }
  .section4_body {
    height: auto;
    padding: 20px 0;
  }
  .newsletter_section_text {
    font-size: 20px;
  }
}

@media screen and (max-width: 630px) {
  .section3_head_text {
    font-size: 27px;
  }
}

@media screen and (max-width: 612px) {
  .section3_wrapper {
    height: 2000px;
    align-items: flex-end;
  }
  .section3 {
    height: 93%;
    margin-bottom: 40px;
  }
  .testimonial_card_cont {
    width: 90%;
  }
  .test_card {
    height: 320px;
  }
  .test_img {
    left: 32%;
  }
}

@media screen and (max-width: 580px) {
  .newsletter_section_text {
    font-size: 19px;
  }
  .email_input::placeholder {
    font-size: 14px;
  }
}

@media screen and (max-width: 460px) {
  .email_input::placeholder {
    font-size: 12px;
  }
  .sub_btn {
    font-size: 15px;
  }
}

@media screen and (max-width: 440px) {
  .test_img {
    left: 29%;
  }
  .section3_head {
    text-align: center;
    height: 90px;
    padding: 10px;
  }
}

@media screen and (max-width: 387px) {
  .test_img {
    left: 26%;
  }
  .test_card {
    height: 360px;
  }
  .test_card_wrapper {
    margin-bottom: 23px;
  }
}
