.front_body {
  width: 90%;
}
.course1 {
  width: 100%;
  margin-top: 50px;
  height: 800px;
  box-shadow: 0px 16px 16px 0px #0000000a;
}
.course_img {
  height: 60%;
}
.course1_wrapper {
  width: 97%;
}
.courses_body {
  height: 2230px;
  display: flex;
  justify-content: center;
}
.enrol_btn {
  background-color: #0797de;
  width: 100%;
  font-size: 16px;
}
.enrol_btn:hover {
  border-bottom: 1px solid #222222;
}
.enrol_btn:focus {
  color: #fff;
}
.enrol_btn_cont {
  display: flex;
  justify-content: center;
  margin-top: 52px;
}
.cont1 {
  width: 48%;
  height: 140px;
  background-color: #ffffff;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 16px 16px 0px #0000000a;
}
.cont1_cont {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}
.part1 {
  width: 45%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.line {
  width: 5px;
  height: 80%;
  background-color: #222;
  border-radius: 5px;
}
.part2 {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.part_list li {
  list-style-type: disc;
  font-size: 22px;
  font-weight: 700;
  color: #343333;
  margin-left: 25px;
}
.req_cont {
  height: 400px;
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 16px 16px 0px #0000000a;
}
.req_cont_wrapper {
  width: 96%;
  height: 90%;
}
.req_head1 {
  height: 60px;
  background-color: #067eb9;
  color: #f6f6f6;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.req_list_wrapper,
.req_list_wrapper2 {
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: 140px;
  align-items: center;
}
.req_list_wrapper2 {
  height: 100px;
}
.req_list_wrapper2 p {
  color: #343333;
  font-weight: 700;
  font-size: 31px;
  letter-spacing: -1px;
}
.req_list li {
  padding: 2px 0;
  list-style-type: disc;
  color: #343333;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -1px;
}
.course_content_cont {
  background-color: #fff;
  height: 700px;
  border-radius: 24px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 16px 16px 0px #0000000a;
}
.course_content_wrapper {
  width: 96%;
  height: 93%;
}
.course_content_body_wrapper {
  display: flex;
  justify-content: center;
  height: 91%;
}
.course_content_body {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  justify-content: flex-end;
}
.course_content1 {
  height: 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.course_content_title {
  font-size: 32px;
  font-weight: 700;
}
.course_content_desc {
  font-size: 24px;
}
.course_wrap {
  height: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
