.front_body {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.course1 {
  width: 100%;
  box-shadow: 0px 16px 16px 0px #0000000a;
  height: auto;
  margin: 10px 0;
}
.course_img_f {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.course1_wrapper {
  width: 95%;
  height: auto;
  margin: 20px 0;
}
.payment_cont {
  margin: 10px 0;
  height: 200px;
}
.course_desc {
  line-height: 1.4;
  margin: 10px 0;
  font-size: calc(15px + 0.390625vw);
  text-align: center;
}
.course_title {
  text-align: center;
  margin-bottom: 10px;
}
.courses_body {
  display: flex;
  justify-content: center;
  height: auto;
}
.enrol_btn {
  background-color: #0797de;
  width: 100%;
  font-size: calc(14px + 0.390625vw);
}
.enrol_btn_cont,
.enrol_btn_cont2 {
  display: flex;
  justify-content: center;
}
.enrol_btn_cont2 {
  margin-bottom: 20px;
}
.cont1 {
  width: 48%;
  height: 80%;
  background-color: #ffffff;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 16px 16px 0px #0000000a;
  flex-wrap: wrap;
}
.cont1_cont {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.part1 {
  width: 45%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.line {
  width: 5px;
  height: 80%;
  background-color: #222;
  border-radius: 5px;
}
.part2 {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.part_list li {
  list-style-type: disc;
  font-size: calc(16px + 0.390625vw);
  font-weight: 700;
  color: #343333;
  margin-left: 25px;
}
.req_cont {
  height: 400px;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 16px 16px 0px #0000000a;
}
.req_cont_wrapper {
  width: 96%;
  height: 90%;
}
.req_head1 {
  height: 60px;
  background-color: #067eb9;
  color: #f6f6f6;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.req_list_wrapper,
.req_list_wrapper2 {
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: 140px;
  align-items: center;
}
.req_list_wrapper2 {
  height: 100px;
}
.req_list_wrapper2 p {
  color: #343333;
  font-weight: 700;
  font-size: 31px;
  letter-spacing: -1px;
}
.req_list li {
  padding: 2px 0;
  list-style-type: disc;
  color: #343333;
  /* font-size: 28px; */
  font-size: calc(19px + 0.390625vw);
  font-weight: 700;
  letter-spacing: -1px;
}
.course_content_cont {
  background-color: #fff;
  border-radius: 24px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  box-shadow: 0px 16px 16px 0px #0000000a;
  flex-direction: column;
}
.course_content_wrapper {
  width: 96%;
  margin: 20px 0;
}
.course_content_body_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.course_content1 {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0 10px;
}
.course_content_title {
  font-size: calc(24px + 0.390625vw);
  font-weight: 700;
  margin: 5px 0;
}
.course_content_desc {
  font-size: 17px;
  color:#565554;
}
.part1_1_firstp {
  font-size: 20px;
  color: #343333;
}
.part1_1_secp {
  font-size: 32px;
  font-weight: 700;
  color: #343333;
}
.part1_head_text {
  font-weight: 700;
  font-size: 28px;
  color: #151414;
}
.course_img_cont {
  text-align: center;
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1280px) {
  .part_list li {
    font-size: 18px;
  }
}

@media screen and (max-width: 1184px) {
  .part_list li {
    font-size: 18px;
  }
}

@media screen and (max-width: 1090px) {
  .part_list li {
    font-size: 18px;
  }
}

@media screen and (max-width: 1090px) {
  .part_list li {
    font-size: 16px;
  }
  .part1_1 {
    height: 50%;
  }
  .part_list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media screen and (max-width: 990px) {
  .cont1_cont {
    justify-content: center;
    height: 50%;
  }
  .cont1 {
    width: 100%;
    margin: 10px;
    height: 200px;
  }
  .part1_1_firstp {
    margin-bottom: 10px;
  }
  .payment_cont {
    height: 450px;
  }
}

@media screen and (max-width: 960px) {
  .course_content_title {
    font-size: calc(24px + 0.390625vw);
  }
  .course_content_desc {
    font-size: calc(15px + 0.390625vw);
  }
}

@media screen and (max-width: 665px) {
  .cont1_cont {
    width: 100%;
    justify-content: center;
  }
  .cont1 {
    width: 100%;
    margin: 10px 0;
  }
  .payment_cont {
    width: 100%;
  }
  .course_content1 {
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .course_content1 {
    margin: 10px 0;
  }
  .course_content_cont {
    height: auto;
    padding: 25px 0;
    margin-bottom: 25px;
  }
  .course_content_body_wrapper {
    padding: 20px 0;
  }
  .course_head_cont {
    padding: 15px;
  }
}
@media screen and (max-width: 537px) {
  .part_list li {
    margin: 5px 0 5px 5px;
  }
}

@media screen and (max-width: 526px) {
  .course_content1 {
    margin: 10px 0;
  }
  .course_content_cont {
    height: auto;
    padding: 25px 0;
    margin-bottom: 25px;
  }
  .course_content_body_wrapper {
    padding: 20px 0;
  }
  .part1_head_text {
    font-size: 24px;
  }
  .part1_1_firstp {
    font-size: 17px;
  }
  .part1_1_secp {
    font-size: 28px;
  }
  .part1 li {
    font-size: 16px;
  }
  .course_head {
    font-size: 40px;
  }
  .req_head1 p {
    font-size: 26px;
  }
}

@media screen and (max-width: 478px) {
  .cont1 {
    height: 300px;
  }
  .part1,
  .part2 {
    width: 80%;
    height: 40%;
    margin: 10px;
    align-items: center;
  }
  .part1_head_text {
    font-size: 30px;
  }
  .part1_1_first {
    font-size: 28px;
  }
  .line {
    width: 80%;
    height: 5px;
  }
  .course1_wrapper {
    padding: 0 10px;
  }
  .payment_cont {
    height: 650px;
  }
}

@media screen and (max-width: 440px) {
  .req_head1 {
    padding: 10px;
  }
  .req_head1 p {
    font-size: 21px;
  }
}

@media screen and (max-width: 406px) {
  .req_list li {
    font-size: 18px;
  }
}

@media screen and (max-width: 321px) {
  .req_head1 p {
    font-size: 20px;
  }
}
