.about_body2 {
  background-color: #f6f6f6;
  min-height: 500px;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about_body_cont2 {
  width: 80%;
}
.about_accordion2 {
  background-color: #fff;
  transition: 0.3s;
  display: flex;
  margin: 30px 0;
  min-height: 60px;
  max-height: fit-content;
}
.about_accordion2_wrapper {
  display: flex;
  justify-content: space-evenly;
}
.acc_num {
  font-size: 27px;
  color: #056594;
  font-weight: 900;
}
.acc2_head_text {
  font-weight: 900;
  font-size: 27px;
  color: #067eb9;
}
.acc2_body_text {
  color: #067eb9;
  font-size: 17px;
  margin-top: 10px;
  height: 0;
  overflow-y: auto;
  line-height: 1.5rem;
}
.acc2_body {
  width: 80%;
  margin-top: 10px;
}
.acc_icon2_wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #056594;
}
.acc_icon2 {
  font-size: 18px;
  color: #fff;
}
.show2 {
  height: fit-content;
  transition: 0.3s;
}
.acc_num_cont {
  margin-top: 10px;
}
.faq_head_cont {
  background-color: #fff;
  height: 90px;
  text-align: center;
  margin: 20px 0;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq_head_text {
  font-size: 27px;
  font-weight: 900;
  color: #067eb9;
}

@media screen and (max-width: 630px) {
  .acc2_body {
    margin-left: 10px;
  }
}

@media screen and (max-width: 760px) {
  .acc2_head_text {
    font-size: 25px;
  }
  .acc_num {
    font-size: 32px;
  }
  .acc2_body_text {
    font-size: 17px;
  }
  .acc_num {
    font-size: 25px;
  }
  .about_body_cont2,
  .faq_head_cont {
    width: 90%;
  }
  .about_accordion2_wrapper {
    padding: 0 10px;
  }
}

@media screen and (max-width: 500px) {
  .acc2_body_text {
    font-size: 16px;
  }
  .faq_head_cont {
    margin: 40px;
    height: 120px;
  }
  .acc_icon2_wrapper {
    height: 27px;
    width: 27px;
  }
  .acc_icon2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 360px) {
  .faq_head_text {
    font-size: 25px;
  }
  .acc2_head_text {
    font-size: 25px;
  }
  .acc_num {
    font-size: 25px;
  }
}
