.about_body {
  background-color: #f6f6f6;
  min-height: 500px;
  max-height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_body_cont {
  width: 80%;
  margin: 40px 0;
}
.acc1_head {
  background-color: #fff;
  height: 90px;
  display: flex;
}
.acc1_head_wrapper {
  width: 80%;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.acc1_head_text,
.acc_icon {
  font-size: 35px;
  font-weight: 900;
  color: #067eb9;
}
.acc1_body_text {
  font-size: 24px;
  color: #067eb9;
}
.acc1_body {
  margin: 20px 0;
  height: 0;
  overflow: hidden;
}
.show {
  height: 238px;
  transition: 0.3s;
}
.acc_icon {
  cursor: pointer;
}
.rotate {
  transform: rotateX(-180deg);
  transition: 0.3s;
}
