.courses_body {
  height: 900px;
  background-color: #f6f6f6;
}
.course_head_cont {
  height: 202px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.course_head {
  color: #067eb9;
  font-size: 48px;
  font-weight: 900;
}
.course1 {
  width: 40%;
  height: 550px;
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 8px 16px 2px #7a787814;
  align-items: center;
}
.course_title {
  font-size: 29px;
  color: #151414;
  font-weight: 700;
  margin-top: 20px;
}
.course_desc {
  font-size: 18px;
  color: #565554;
  margin: 20px 0;
}
.course_details {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 55px;
}
.courses_container {
  display: flex;
  justify-content: center;
  height: 80%;
}
.course_wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.course1_wrapper {
  width: 90%;
  height: 93%;
}
.course_img {
  height: 40%;
  width: 100%;
}
.course_price_cont {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.real_price {
  font-size: 24px;
  color: #343333;
}
.course_duration {
  font-size: 24px;
  color: #343333;
}
.enrol_btn_cont,
.enrol_btn_cont2 {
  margin-top: 20px;
  width: 100%;
}
.enrol_btn {
  width: 80%;
  height: 40px;
  border-radius: 8px;
  border: unset;
  color: #222222;
  cursor: pointer;
  font-size: 16px;
  background-color: #0797de;
  border: 1px solid #222222;
}
.enrol_btn:hover {
  border-bottom: 2px solid #222222;
}
.course_overall_wrapper {
  height: 77.5%;
  display: flex;
  align-items: center;
}
.course_head_overall {
  height: 150px;
  display: flex;
  align-items: flex-end;
}
.course_head_cont {
  height: 80%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.course_price {
  color: #343333;
}

@media screen and (max-width: 1177px) {
  .course1 {
    width: 45%;
  }
  .course1_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 990px) {
  .course_title {
    font-size: 25px;
  }
}

@media screen and (max-width: 900px) {
  .course_wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 860px) {
  .courses_body {
    height: 1400px;
  }
  .course_overall_wrapper {
    height: 89.3%;
  }
  .courses_container {
    height: 100%;
  }
  .course_wrapper {
    height: 98%;
    justify-content: center;
    margin-top: 20px;
  }
  .course1 {
    width: 80%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 650px) {
  .course1 {
    width: 95%;
  }
}

@media screen and (max-width: 450px) {
  .course_head {
    font-size: 40px;
  }
}
